@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


:root {
    --background-color :184538;
    --section-color: #245c4b;
    --primary-color: #184538;
    --text-color: #ffffff;
    --secondary-text: #d5e8e2;
}


body { 
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
}

header {
    background-color: var(--section-color);
    padding: 30px;
    text-align: center;
    
}

h1 {
    color: var(--primary-color);
    font-size: 42px;
    margin: 0 0 15px 0;
}

nav {
    margin-top: 15px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
    padding: 8px 12px;
    border-radius: 8px;
}

nav a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);

}

main {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
}

section {
    background-color: var(--secondary-text);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25)
}

h2 {
    color: var(--primary-color);
    font-size: 30px;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
}

h3 {
    color: var(--primary-color);
    font-size: 22px;
}

p {
    color: var(--secondary-text);
    font-size: 17px;
}

img { 
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

#home img {
    width: 200px;
    border-radius: 50%;
}

#projects img {
    width: 400px;
}

article {
    background-color: var(--background-color);
       padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)
}

article:hover {
transform: translateY(-3px);
}

#contact a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid var(--primary-color);
    padding: 8px 14px;
    border-radius: 8px;
}

contact a:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}

footer {
    background-color: var(--section-color);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer p {
    font-size: 14px;
}